@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

.App {
  width: 66.6%;
  font-family: 'Montserrat', sans-serif;
  min-width: 400px;
  margin: 0 auto;
  text-align: center;
}


@media only screen and (max-width: 768px) {
  .App {
    width: 100%;
  }
}

.cityName {
  color: rgba(255, 255, 255, 0.747);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: default;
  padding: 0;
  margin: 0;
  font-family: cursive;
}