@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

.App {
  width: 66.6%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: auto;
  padding-right: 5%;
  padding-bottom: 21vh;
}



@media (min-width: 1024px) and (max-width: 2000px) {
  .App {
    padding-top: 11vh;
  }
}

.cityName {
  color: rgba(255, 255, 255, 0.747);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: default;
  padding: 0;
  margin: 0;
  font-family: cursive;
}