.ForecastView__weather {
  /* box-shadow: 0 0 1px 3px #ffffff39; */
  box-shadow: 0 0 0 1.5px #e3e3e3aa;
  font-family: sans-serif;
  padding: 10px;
  width: 135px;
  height: 240px;
  /* background-color: #4876C3; */
  background-color: rgb(61, 62, 63);
}

@media only screen and (max-width: 768px) {
  .ForecastView__weather {
    width: 100%;
  }
}

.ForecstView__date {
  height: 2rem;
}

.date {
  font-weight: bold;
  font-size: 1.125rem;
}

p {
  padding: 5px;
  color: white;
}

.wi-thermometer {
  padding-left: -15px;
  font-size: 24px;
  padding-right: 10px;
  opacity: 0.5;
}

i {
  font-size: 55px;
  padding-top: 15px;
  color: rgb(224, 187, 187);
}

.temps {
  margin: 0;
  padding: 0;
  padding-top: 8px;
}

.desc {
  padding-left: 8px;
  font-weight: bold;
}

.ForecastView__weather__temp-min {
  font-style: italic;
  /* color: rgb(163, 174, 184); */
  color: white; 
}

.ForecastView__weather__temp-high {
  padding-left: 5px;
  padding-right: 10px;
  color: rgb(141, 247, 247);
  font-size: 1.1rem;
  font-weight: bold;
}